.mfp-ready .mfp-figure {
	opacity: 0;
}

.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
	opacity: 0;
	transition: all 0.3s ease-out;
	transform: scale(0.95);
}

.mfp-zoom-in.mfp-bg, .mfp-zoom-in .mfp-preloader {
	opacity: 0;
	transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure {
	opacity: 1;
	transform: scale(1);
}

.mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
	opacity: 1;
	transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg, .mfp-zoom-in.mfp-ready .mfp-preloader {
	opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
	transform: scale(0.95);
	opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg, .mfp-zoom-in.mfp-removing .mfp-preloader {
	opacity: 0;
}

.mfp-iframe-scaler {
	overflow: visible;
}

.mfp-zoom-out-cur {
	cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: pointer;
}

.mfp-preloader {
	width: 30px!important;
	height: 30px!important;
	background-color: #00e0d0;
	opacity: 0.65;
	margin: 0 auto;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}

	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@keyframes rotateplane {
	0% {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}